.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
}

.header-img {
    width: 11vw;
}

.header-nav-list {
    display: flex;
}

.header-nav-item {
    margin-right: 40px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #717171;
}

.relative {
    position: relative;
}

.relative-img {
    margin: 0 0 0 auto;
    display: block;
    width: 60%;
}

.absolute {
    position: absolute;
    top: 10%;
    left: 20%;
}

.absolute-title {
    font-family: 'Gorditas', serif;
    font-size: 60px;
    line-height: 120px;
    color: #B31667;
}

.growth {
    color: #099CB2;
}

.absolute-text1 {
    font-size: 25px;
    margin-top: 30px;
    color: #B31667;
    font-weight: bold;
}

.absolute-text2 {
    font-size: 20px;
    margin-top: 20px;
    line-height: 40px;
    color: #6E6E6E;
}

.news-zone {
    margin: 200px 0px;
}

.news-zone-title {
    margin-left: 10vw;
    line-height: 120px;
}

.news-title {
    font-size: 40px;
    color: #6F6F6F;
}

.news-zone::before {
    content: "News";
    margin-left: 10vw;
    font-family: 'Gorditas', serif;
    font-size: 20px;
    color: rgb(188, 16, 101);

}

.news-list {
    margin-top: 40px;
    margin-left: 10vw;
    margin-right: 10vw;
    list-style-type: none;
    font-size: 20px;
    line-height: normal;
    border-top: solid 8px #D2D2D2;
    border-bottom: solid 8px #D2D2D2;
    padding: 40px 0px;
}

.news-item {
    border-bottom: solid 2px #D2D2D2;
    color: #7A7A7A;
}

.news-item-news {
    display: inline-block;
    background-color: #B0135B;
    color: white;
    width: 160px;
    text-align: center;
    margin: 40px 50px;
    border-radius: 30px;
}

.about {
    background-color: #F5F5F5;
    margin-bottom: 50px;
}

.about-zone {
    margin: 0px 200px;
    padding: 100px 0px;
}

.about-card-img {
    width: 25vw;
    margin: 0px 0px 0px auto;
}

.about-zone-title {
    text-align: center;
}

.about-title {
    font-size: 40px;
    color: #6F6F6F;
    margin-top: 20px;
}

.about-zone-title::before {
    content: "About";
    font-family: 'Gorditas', serif;
    font-size: 20px;
    color: rgb(188, 16, 101);
}

.about-card {
    display: flex;
    margin-top: 50px;
}

.about-card-content {
    font-size: 20px;
    color: #6E6E6E;
}

.about-card-content-tt1 {
    line-height: 35px;
}

.about-card-content-tt2 {
    line-height: 35px;
    margin-top: 40px;
}

.service-zone {
    margin: 5vh 10vw;
}

.service-card {
    display: flex;
    margin: 30px 0px;
    height: 30vh;
}

.service-title {
    font-size: 40px;
    color: #6F6F6F;
    margin: 20px 0px;
}

.service-zone-title::before {
    content: "Service";
    font-family: 'Gorditas', serif;
    font-size: 20px;
    color: rgb(188, 16, 101);
}

.service-card-1 {
    background-color: #B31667;
    width: 40vw;
}

.card-img1 {
    text-align: center;

}

.service-img1 {
    width: 11vw;
    margin-top: 30px;
}

.service-title1 {
    font-size: 25px;
    margin: 20px auto;
    text-align: center;
    color: #FFFBFF;
}

.service-content1 {
    font-size: 15px;
    line-height: 25px;
    margin: 0px 80px;
    color: #FFFBFF;
}

.service-card-2 {
    background-color: #B35B8B;
    width: 40vw;
    height: 15vh;
    display: flex;
}

.service-img2 {
    width: 11vw;
}

.service-card-content {
    margin: 30px;
}

.service-title2 {
    font-size: 25px;
    color: #FFFBFF;
    margin: 10px 0px;
}

.service-content2 {
    font-size: 15px;
    line-height: 25px;
    color: #FFFBFF;
    margin-top: 20px;
}

.service-card-3 {
    background-color: #B2889E;
    width: 40vw;
    height: 15vh;
    display: flex;
}

.service-img3 {
    width: 11vw;
}

.service-title3 {
    font-size: 25px;
    color: #FFFBFF;
    margin: 10px 0px;
}

.service-content3 {
    font-size: 15px;
    line-height: 25px;
    color: #FFFBFF;
    margin-top: 20px;
}

.blog {
    background-color: #F5F5F5;
}

.blog-zone {
    margin: 0vh 10vw;
    padding: 5vh 0vw;
}

.blog-title {
    font-size: 40px;
    color: #6F6F6F;
    margin: 20px 0px 50px;
}

.blog-zone-title::before {
    content: "Brog";
    font-family: 'Gorditas', serif;
    font-size: 20px;
    color: rgb(188, 16, 101);
}

.blog-img {
    width: 24vw;
    border-radius: 30px 30px 0px 0px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.relative-card-img {
    position: relative;
}

.card-cat {
    font-size: 20px;
    background-color: #B31667;
    width: 20%;
    text-align: center;
    color: white;
    padding: 10px;
    position: absolute;
    top: 0px;
    border-radius: 30px 0px 0px 0px;
}

.card-content {
    background-color: white;
    height: 13vh;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    color: #939393;
}

.card-content-title {
    font-size: 15px;
    line-height: 30px;
    margin: 0 3vw;
    padding: 2vh 0;
}

.card-content-tag {
    display: flex;
    font-size: 16px;
    margin: 1vh 1vw;
}

.card-content-tag-item {
    margin: 0 2vw;
}

.botan {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #BE1266;
    width: 200px;
    margin: 70px auto 0px;
    padding: 30px 30px;
    border: solid 3px #BE1266;
    border-radius: 70px;
}

.company-zone {
    margin: 0px 300px;
    padding: 100px 0px;
}

.company-title {
    font-size: 40px;
    color: #6F6F6F;
    margin: 20px 0px 50px;
}

.company-zone-title::before {
    content: "Company";
    font-family: 'Gorditas', serif;
    font-size: 20px;
    color: rgb(188, 16, 101);
}

table {
    width: 60vw;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 30px;
    font-size: 20px;
    color: #666666;
}

table th {
    font-weight: bold;
    background-color: #F5F5F5;
    width: 15vw;
    text-align: left;
}

.section-zone {
    display: flex;
    margin: 100px 0px;
}

.mv1 {
    width: 50%;
    position: relative;
}

.section-title-1 {
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 40%;
    color: #F9F9F9;
}

.mv2 {
    width: 50%;
    position: relative;
}

img {
    width: 100%;
}

.section-title-2 {
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 35%;
    color: #F9F9F9;
}

.footer-top {
    text-align: center;
}

.footer-title {
    font-size: 30px;
    color: #666666;
}

.footer-border {
    border-left: 5px solid #BA2C6D;
    height: 3vh;
    margin: 1vh 50vw;
}

.form-btn {
    border-radius: 80px;
    margin: 10px auto;
    padding: 50px;
    width: 500px;
    display: block;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    border: none;
    background: linear-gradient(90deg, #F21D89, #B71568);
    box-shadow: 0 20px 0 rgb(132, 0, 80);
}

.footer-bottom {
    background-color: #F5F5F5;
    text-align: center;
    margin-top: 130px;
    padding: 30px;
}

.copy-right {
    font-size: 20px;
    color: #666666;
}